---
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout title="About">
  <div class="content-container">
    <h1>Why I became a Computer Scientist</h1>
    <p class="lead">
      I was originally going to study aerospace, but realised that computer science lacks people with the physics based knowledge to create outstanding products.
      When I was at school taking my A levels, I lead a team to create an autonomous glider. 
      This failed massively, with the team being disbanded six months later, 
      however it was a very good learning experience in project management and highlighted a gap I've seen throughout the software industry;
      if someone is going to make a software for a customer, they need an intimate understanding of the subject area, 
      otherwise the software will never be quite good enough for what the customer needs.
      The team was composed of two main groups, computer science students and physics students.
      The physics students job was to 
    </p>
    
  </div>
</BaseLayout>