---
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout title="About">
  <div class="content-container">
    <h1>Why Computer Science</h1>
    <p>
      I'm a second-year undergraduate at Swansea University studying Computer Science and AI.
    </p>

    <p>
      I first set out to study aerospace engineering, driven by a lifelong fascination with flight. 
      By the time I started my A levels, I already had two years of gliding experience, 
      three years of paragliding, and six years of model flying under my belt. 
      That passion led me to lead a team project to build an autonomous glider.
    </p>

    <p>
      Although the project didn't succeed, it was a pivotal experience. 
      I learned how essential it is to combine software expertise with deep domain knowledge. 
      Without that understanding, even the best code won't fully meet the needs of the people it's built for.
    </p>

    <p>
      That lesson ultimately drew me to computer science: the challenge of creating software that not only works, 
      but speaks the language of the real world it's designed to serve. 
      Today, I'm especially interested in autonomous aerial systems, logic-based AI, and low-level optimisation, 
      areas where I can bring both technical insight and real-world perspective to the problems I work on.
    </p>   
  </div>
</BaseLayout>