---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Contact Me", backButton = "/", showFooter={false}>
  <div class="content-container">
    <!-- h1>Contact me at this address</h1 -->
    <h3>Email: <a href="mail:ethanmayaemail@gmail.com">ethanmayaemail@gmail.com</a></h3>
    <h3>GitHub: <a href="https://github.com/EthanMaya" target="_blank" rel="noopener noreferrer">https://github.com/EthanMaya</a></h3>
    <!-- <h3>LinkedIn: <a href="" target="_blank" rel="noopener noreferrer">To be added</a></h3>
    <h3>Discord: <a href="" target="_blank" rel="noopener noreferrer">To be added</a></h3> -->
    
  </div>
</BaseLayout>