---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Contact Me", backButton = "/", showFooter={false}>
  <div class="content-container">
    <h1>Contact me at this address</h1>
  </div>
</BaseLayout>