---
import { addIssueToContext, any } from "astro:schema";
import BaseLayout from "../layouts/BaseLayout.astro"
import {computer_science, skills_and_tools} from "./projects-data.js";
const csTags = [...new Set(computer_science.concat(skills_and_tools).flatMap(p => p.tech))].sort((a, b) => a.localeCompare(b));
---
<BaseLayout title="Home">
<div class="fold-content">
<h1>Hi, I'm Ethan.</h1>
<h3>Bringing aerospace and naval experience to Computer Science & AI.</h3>
<p class="lead">
  I'm a second-year Computer Science & AI undergraduate at Swansea University with a background in aerospace and naval design. 
  I'm especially interested in autonomous aircraft and logic-driven AI, 
  and I enjoy tackling problems that connect theory with practical outcomes. 
  I thrive in collaborative environments bringing technical insight and hands-on experience to the projects I work on.
</p>
</div>
<div class="projects-section">
<!-- Software Development -->
<a href="/computer-science" class="projects-container">
<div class="single-projects-category">
  <div class="projects-category-image-container">
    <img src="./assets/computer-956.svg" loading="lazy" alt="" class="projects-category-image" />
  </div>
</div>
<div class="single-projects-content">
  <h4>Computer Science</h4>
  <div class="tech-tools-container">
    <div class="mini-label-white gray-color">Technologies &amp; tools</div>
    <div class="chips-container chips-container-small-width">
      {csTags.map(tag => (
              <div class="single-chip small-chip">{tag}</div>
      ))}
    </div>
  </div>
</div>
</a>
<!-- Things I've Done -->
<a href="/things-ive-done" class="projects-container">
<div class="single-projects-category">
  <div class="projects-category-image-container devops-img">
    <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
  </div>
</div>
<div class="single-projects-content">
  <h4>Other Things I've Done</h4>
  <!-- <div class="tech-tools-container">
    <div class="mini-label-white gray-color">Technologies &amp; tools</div>
    <div class="chips-container chips-container-small-width">
      <div class="single-chip small-chip">Working</div>
    </div>
  </div> -->
</div>
</a>  
</BaseLayout>