---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Home">
<div class="fold-content">
<h1>Hi, I'm Ethan.</h1>
<p class="lead">
  With a background in aerospace and naval architecture, I bring a unique perspective to my studies as a second-year Computer Science & AI undergraduate at Swansea University. 
  I'm especially interested in autonomous aircraft, and I enjoy applying my problem-solving skills to challenges that connect theory with practical outcomes. I thrive in collaborative environments and am always looking to learn from others while contributing my own experience. If you’d like to connect, feel free to drop me an email!
  Used to auditing code.
  skills.
  git, linux, my laptop has linux mint, my workstation has nixos, this website is running on a pi 400 with Ubuntu. used to using vms.

  why i started computer Science
  noticed that there isn't enough interaction between software developers and engineers, all the coders had no physics understanding.

</p>
</div>
<div class="projects-section">
<!-- Software Development -->
<a href="/software-development" class="projects-container">
<div class="single-projects-category">
  <div class="projects-category-image-container">
    <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
  </div>
</div>
<div class="single-projects-content">
  <h4>Computer Science</h4>
  <div class="tech-tools-container">
    <div class="mini-label-white gray-color">Technologies &amp; tools</div>
    <div class="chips-container chips-container-small-width">
      <div class="single-chip small-chip">React</div>
    </div>
  </div>
</div>
</a>
<!-- Aerospace -->
<a href="/aerospace" class="projects-container">
<div class="single-projects-category">
  <div class="projects-category-image-container devops-img">
    <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
  </div>
</div>
<div class="single-projects-content">
  <h4>Aerospace</h4>
  <div class="tech-tools-container">
    <div class="mini-label-white gray-color">Technologies &amp; tools</div>
    <div class="chips-container chips-container-small-width">
      <div class="single-chip small-chip">Working</div>
    </div>
  </div>
</div>
</a>  
</BaseLayout>