<footer>
  <div class="footer-content">
    <p class="lead">Want to get in contact?</p>
            <a href="/contact" class="back-nav-button w-inline-block">
              <h3>Click for contact details</h3></a>
  </div>
</footer>